/**
 * https://github.com/lxgw/yozai-font/
 */
@font-face {
  font-family: "JasonHandwriting8p";
  src: url("/assets/font/JasonHandwriting8p.ttf");
}

article.post > :last-child {
  font-family: "JasonHandwriting8p", cursive !important;
}
